<template>
    <form ref="form">
        <div v-for="item in definition" class="row">
            <div v-if="item.label != undefined" class="col-12 pb-2">
                <label>{{item.label}}</label>
            </div>
            <div class="col-12 pb-2">
                <textarea
                    v-if="item.type == 'textarea'"
                    :placeholder="item.placeholder"
                    :name="item.name"
                    class="form-control"></textarea>
                <input
                    v-if="TYPES.indexOf(item.type) != -1"
                    :placeholder="item.placeholder"
                    :name="item.name"
                    class="form-control"></input>
                <component :is="item.component" v-if="item.component != undefined">
                </component>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" @click.prevent="submit">Submit</button>
            </div>
        </div>
    </form>
</template>

<script>
const TYPES = ['text', 'number', 'email'];
export default {
    props: ['definition'],
    data: function(){
        return {
            TYPES
        };
    },
    methods:{
        submit(e){
            let data = new FormData(this.$refs.form);
            this.$emit('submit', data);
        }
    }
}
</script>

<style></style>