<template>
  <div id="app" class="container">
    <DynForm :definition="form" @submit="setResults"/>
    <div v-if="results != null" v-for="item in results" class="row">
      <div class="col-4 col-md-2">{{item[0]}}</div><div class="col-8 col-md-10">{{item[1]}}</div>
    </div>
  </div>
</template>

<script>
import DynForm from "./components/DynForm"

export default {
  name: 'App',
  data: function(){
    return {
      form: [
        {
          component: {
            template: '<h1>Send a message</h1>'
          }
        },
        {type: 'text', name: 'title', placeholder: 'Title', label: "message's title"},
        {type: 'text', name: 'description', placeholder: 'Description', label: "Enter short description"},
        {
          component: {
            template: `<p>Please enter message bellow.<br/>The message must follow the terms & code of conduct.</p>`
          }
        },
        {type: 'textarea', name: 'message', placeholder: 'This is your message'}
      ],
      results: null
    };
  },
  methods: {
    setResults(data){
      this.results = data;
    }
  },
  components: {
    DynForm
  }
}
</script>

<style>
</style>
